.body{
    mask-image: url(70);
    background-color: rgb(215, 238, 234);
    background-image: -moz-repeating-linear-gradient(azure);
}
.h1{
     color: rgb(177, 226, 98);
     font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-size: 70px;
}
.m1{ 
    width: 100px;
    border-radius: 50px;
    margin: 0%;
   }
   .p1{
    border: solid black 10px;
    padding: 20px;
    color: rgb(235, 235, 235);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px; 
    background-color: rgb(87, 85, 85);
    }
.h2{
    color: crimson; 
    font-size: 70px;
}
.m2{ 
     width: 200px;
     border-radius: 100px;
     margin: 0%;
    
}
.p2{
    padding: 20px;
    color: rgb(4, 8, 8);
    border: 10px solid rgb(0, 0, 0);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    font-size: large 

}
.h3{ 
    font-size: 70px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(23, 23, 58);
}
.m3{
    width: 300px;
    border-radius:  150px;
}
.p3{color: aquamarine;
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
    background-color: rgb(0, 0, 0);
}